body   {
	background-image: url("../images/earth.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


h4    	{
	color: #ffb300;

}

#suggestion	{
	background-color: #006064;
}


#pretty-address	{
	color: #40c4ff;
}